.ram {
	border-radius: 30px;
	border: 2px solid green;
	width: 500px;
	height: 400px;
	box-sizing: border-box;
	overflow: auto;
	float: left;
	padding: 10px;
	margin: 10px;
}
.ram:nth-child(odd)>.cell:nth-child(odd){
			background-color: brown;
		}
.ram:nth-child(even)>.cell:nth-child(even){
			background-color: yellow;
img {
	width: 400px;
	margin: auto;
	display: block;
}
