body {
	background-image: url("https://st.depositphotos.com/3074113/4052/i/450/depositphotos_40526725-stock-photo-paper-texture.jpg");
	background-size: 100%;
	background-attachment: fixed;
	text-align: center;
}
